User Profiles
# Each user should have one profile
# The user should see the link to the new profile form upon sign-up
# The user should be able to view their profile once completed
# The user should be able to have a profile photo
# The user should be able to view all other user profiles (NOT IN PROD)
# Subscriptions only last 3 months, then their results/stats are stopped but they still have access to free

Quiz
# User should be able to have 'Attempts'
# User should be able to reset statistics within Course
# User should be able to have multiple attempts on the same tests within the courses
# User should be able to sign up to multiple 'Courses'
# Allow pause and resume, so will need a state of the current quiz

Questions
# Quiz should have n questions


Dashboard Reports
# User should be able to view report on their test results within the Course

